name: macOS build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  boinc_ref: 82d0a3731c743884b6e7a25d68c6558eca691635  # client release 7.20.2
  gwnum_ver: "v3019b20"


jobs:
  boinc-macIntel64:
    runs-on: macos-12

    steps:
      - name: Cache BOINC libs
        id: cache-boinc-macIntel64
        uses: actions/cache@v3
        with:
          path: |
            boinc/mac_build/build/Deployment
            boinc/*.*
            boinc/api
            boinc/lib
          key: boinc-${{ runner.os }}-${{ env.boinc_ref }}-macIntel64

      - uses: maxim-lobanov/setup-xcode@v1
        if: steps.cache-boinc-macIntel64.outputs.cache-hit != 'true'
        with:
          xcode-version: '13.4.1'

      - name: Checkout boinc
        if: steps.cache-boinc-macIntel64.outputs.cache-hit != 'true'
        uses: actions/checkout@v3
        with:
          repository: 'BOINC/boinc'
          ref: ${{ env.boinc_ref }}
          path: 'boinc'

      - name: build boinc
        if: steps.cache-boinc-macIntel64.outputs.cache-hit != 'true'
        run: |
          cd ./boinc/mac_build/
          source BuildMacBOINC.sh -lib

  gwnum:
    runs-on: macos-12

    steps:
      - name: Cache gwnum.a libs
        id: cache-gwnum-macIntel64
        uses: actions/cache@v3
        with:
          path: |
            gwnum/gwnum.a
            gwnum/polymult.a
          key: gwmum-${{ runner.os }}-${{ env.gwnum_ver }}-macIntel64

      - name: Download p95
        if: steps.cache-gwnum-macIntel64.outputs.cache-hit != 'true'
        run: wget "https://www.mersenne.org/download/software/v30/30.19/p95${{ env.gwnum_ver }}.source.zip"

      - name: unzip p95
        if: steps.cache-gwnum-macIntel64.outputs.cache-hit != 'true'
        run: unzip p95*.zip

      - name: build gwnum.a and polymult.a
        if: steps.cache-gwnum-macIntel64.outputs.cache-hit != 'true'
        run: |
          cd gwnum
          make -f makemac -j gwnum.a polymult.a

  macIntel64:
    needs: [boinc-macIntel64, gwnum]
    runs-on: macos-12

    steps:
      - name: Use cached BOINC libs
        id: cache-boinc
        uses: actions/cache@v3
        with:
          path: |
            boinc/mac_build/build/Deployment
            boinc/*.*
            boinc/api
            boinc/lib
          key: boinc-${{ runner.os }}-${{ env.boinc_ref }}-macIntel64
          fail-on-cache-miss: true

      - name: Use cached gwnum
        id: cache-gwnum
        uses: actions/cache@v3
        with:
          path: |
            gwnum/gwnum.a
          key: gwmum-${{ runner.os }}-${{ env.gwnum_ver }}-macIntel64
          fail-on-cache-miss: true

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '13.4.1'

      - name: install Homebrew
        run: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

      - name: install deps (brew)
        run: brew install gmp

      - name: remove dylib files (force static link)
        run: |
          rm -f /usr/local/opt/libomp/lib/libomp.dylib
          rm -f /usr/local/opt/gmp/lib/libgmp.dylib

      - name: Checkout prst
        uses: actions/checkout@v3
        with:
          submodules: 'true'
          path: 'prst'

      - name: copy gwnum
        run: cp gwnum/gwnum.a prst/framework/gwnum/mac64/

      - name: make
        run: cd prst/src/mac64 && make -j

      - name: make (boinc)
        run: make -f Makefile.boinc -j

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: macIntel64_bins
          path: |
            prst/src/mac64/prst
            prst/src/mac64/prst_boinc